body {
    background-color: rgb(241, 235, 226);
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.instructions {
    display: flex;
    justify-content: start;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
}

.newGameButtonContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titleGame {
    grid-column: 1;
    font-weight:800;
    font-size:40px;
    font-family:fantasy;
    letter-spacing: 2px;
    color: #74593e;
    position: absolute;
    top: 0;
    padding-left: 10px;
}

.scoreConteiner {
    grid-column: 2;
    text-align: center;
    font-size:large;
    margin: 0 auto;
    padding: 3px;
    outline: solid rgb(204, 188, 168);
    background-color: rgb(204, 188, 168);
    color: #665542; 
    font-family: fantasy; 
    letter-spacing: 1px;
    border-radius: 10px;
    font-weight:500;
    padding-inline: 20px;
    transition: transform 0.5s ease, font-size 0.5s ease;    
}

.score {
    font-size:x-large;
}

.newGameButton {
    display: flex;
    grid-column: 3;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 5px;
    height: 50px;
    width: 100px;
    
    font-family: fantasy;
    font-size: medium;
    font-weight:lighter;
    letter-spacing: 1px;

    border: 3px solid #9c856e;
    border-radius: 10px;
    background-color: #9c856e;
    color: rgb(245, 238, 229);
    transition: transform 0.5s ease, font-size 0.5s ease;    
}

.newGameButton:hover {
    cursor: pointer;
    background-color: rgb(204, 188, 168);
    border: 3px solid rgb(204, 188, 168);
    color: #665542;
    
}

.footer {
    display: flex;
    flex-direction: column;
    justify-items: end;
    justify-content: end;
    font-size: small;
    padding: 10px 10px;
}
