body {
    background-color: rgb(241, 235, 226);
    font-family: 'Sen', sans-serif;
    font-weight: 100;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(4,90px);
    justify-items: center;
    align-items: center;
    justify-self: center;
    border-radius: 10px;
    height: 360px;
    width: 360px;
    border: 4px solid #9c856e;
    background-color: #9c856e;
}

.board .board-square {
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 10px ;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    border: 2px  solid  rgb(187, 169, 146);
    background-color: rgb(187, 169, 146);
    color: #6e5e4d;
}


.board .board-square-2 {
    border: 2px  solid  #eeeae7;
    background-color: #eeeae7;
}

.board .board-square-4 {
    border: 2px  solid  #ece0ca;
    background-color: #ece0ca;
    
}

.board .board-square-8 {
    border: 2px  solid  #f4b17a;
    background-color: #f4b17a;
}

.board .board-square-16 {
    border: 2px  solid  #f59575;
    background-color: #f59575;
}

.board .board-square-32 {
    border: 2px  solid  #f57c5f;
    background-color: #f57c5f;
}

.board .board-square-64 {
    border: 2px  solid  #f65d3b;
    background-color: #f65d3b;
}

.board .board-square-128 {
    border: 2px  solid  #edce71;
    background-color: #edce71;
}

.board .board-square-258{
    border: 2px solid #edcc63;;
    background-color: #edcc63;
}

.board .board-square-512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}


.instructions {
    display: flex;
    justify-content: start;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
}

.titleGame {
    display: flex;
    justify-content: start;
    align-items: start;
    align-content: start;
    font-weight:800;
    font-size:40px;
    font-family:fantasy;
    letter-spacing: 2px;
    color: #74593e;;
}


.newGameButtonContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scoreConteiner {
    grid-column: 2;
    text-align: center;
    font-size:large;
    margin: 0 auto;
    padding: 3px;
    outline: solid rgb(204, 188, 168);
    background-color: rgb(204, 188, 168);
    color: #665542; 
    font-family: fantasy; 
    letter-spacing: 1px;
    border-radius: 10px;
    font-weight:500;
    padding-inline: 20px;
    
}

.score {
    font-size:x-large;
}

.newGameButton {
    display: flex;
    grid-column: 3;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 5px;
    height: 50px;
    width: 100px;
    
    font-family: fantasy;
    font-size: medium;
    font-weight:lighter;
    letter-spacing: 1px;

    border: 3px solid #9c856e;
    border-radius: 10px;
    background-color: #9c856e;
    color: rgb(245, 238, 229);
    transition-property: background-color, color, border;
    transition-duration: 0.5s;
    
}

.newGameButton:hover {
    cursor: pointer;
    background-color: rgb(204, 188, 168);
    border: 3px solid rgb(204, 188, 168);
    color: #665542;
    
}

.footer {
    display: flex;
    flex-direction: column;
    justify-items: end;
    margin-top: 30px;
    font-size: small;
}