.spotify-icon {
    height: 26px;
    width: 26px;
    color: rgb(0, 0, 0);
    padding-top: 4px;
}

.home-button {
    min-width: 28px; 
    min-height: 28px;
    color: black;
    border:rgb(51, 50, 50) ;
    border-radius: 100%;
    background-color: rgb(51, 50, 50);
}

.home-button svg {
    fill: rgb(66, 65, 65);
    stroke: rgb(206, 204, 204);
    stroke-width: 2;
}

.home-button:hover {
    transform: scale(1.05);
    cursor: pointer;    
}

.search-icon {
    min-height:20px;
    min-width:20px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.search-icon svg {
    fill: rgb(206, 204, 204);
}


.music-explorer-button {
    background-color: inherit;
    border: none;
    min-width: 20px;
    max-height: 20px;
    margin-left: auto;
}

.music-explorer-button svg {
    fill: rgb(151, 151, 151);
    stroke: inherit;
    stroke-width: 0;
    width: 18px;
    border-left: solid rgb(134, 134, 134);
    border-width: 1px;
    padding-left: 10px;
}

.music-explorer-button svg:hover {
    fill: rgb(201, 201, 201);;
    transform: scale(1.05);
    cursor: pointer;  
}

.install-app-button {
    background-color: inherit;
    border: inherit;
    color: inhe;
}

.install-app-button svg{

    width: 12px;
    padding-top: 4px;
}

.bell-icon {
    min-height:20px;
    min-width:20px;
    background-color: inherit;
    border: none;
    padding-left: 20px;
    padding-right: 10px;
}

.bell-icon svg {
    display: flex;
    width: 12px;
    fill: rgb(206, 204, 204);
    justify-content: end;
    align-items: center;
}

.library-icon {
    min-height:20px;
    min-width:20px;
    background-color: inherit;
    padding-left: 15px;
    border: none;
}

.library-icon svg {
    fill: rgb(173, 173, 173);
    width: 20px;
}

.create-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:20px;
    min-width:20px; 
    background-color: black;
    border: none; 
    flex: 0 1 30px;
}

.create-list-icon svg{
    fill: rgb(173, 173, 173);
    width: 14px;
}

.plus-content-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:20px;
    min-width:20px; 
    background-color: black;
    border: none; 
    flex: 0 1 30px;
}

.plus-content-icon svg {
    fill: rgb(173, 173, 173);
    width: 14px;
}