.spotify-icon {
    height: 26px;
    width: 26px;
    color: rgb(0, 0, 0);
    padding-top: 4px;
}

.home-button svg {
    fill: rgb(66, 65, 65);
    stroke: rgb(206, 204, 204);
    stroke-width: 2;
}

.home-button {
    min-width: 28px; 
    min-height: 28px;
    color: black;
    border:rgb(51, 50, 50) ;
    border-radius: 100%;
    background-color: rgb(51, 50, 50);
}

.home-button:hover {
    transform: scale(1.05);
    cursor: pointer;    
}

.search-icon svg {
    fill: rgb(206, 204, 204);
}


.search-icon {
    min-height:20px;
    min-width:20px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.music-explorer-button svg {
    fill: rgb(151, 151, 151);
    stroke: inherit;
    stroke-width: 0;
    width: 18px;
    border-left: solid rgb(134, 134, 134);
    border-width: 1px;
    padding-left: 10px;
}

.music-explorer-button {
    background-color: inherit;
    border: none;
    min-width: 28px;
    min-height: 28px;
    margin-left: auto;
}

.music-explorer-button svg:hover {
    fill: rgb(201, 201, 201);;
    transform: scale(1.05);
    cursor: pointer;  
}

.install-app-button svg{
    fill: white;
    width: 16px;
}

.install-app-button {
    background-color: inherit;
    border: inherit;
}

.bell-icon svg {
    width: 16px;
    fill: white;
}

.bell-icon {
    min-height:20px;
    min-width:20px;
    background-color: inherit;
    border: none;
    padding-right: 20px;
}
