.library-nav {
    display: flex;
    flex-direction: column;
    background-color:  rgb(31, 30, 30); 
    margin: 6px;
    border-radius: 19px;
    padding: 6px;
}

.library-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.library-conteiner {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1 1 72px;
    min-height: 40px;
}

.library-text {
    font-size: small;
    font-weight: 500;
    white-space: nowrap;
    color: rgb(173, 173, 173);
}

.filter-tickets {
    display: flex;
    gap: 6px;
    padding-left: 10px;
}

.filter-tickets-item {
    border-radius: 14px;
    padding: 8px;
    background-color: rgb(68, 68, 68);
    color: rgb(218, 218, 218);
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size:x-small;
}

@media (max-width: 1200px) {
    .plus-content-icon {
        display: none;
    }

}

@media (max-width: 1024px) {
    .create-list-icon {
        display: none;
    }

    .library-text {
        display: none;
    }

    .filter-tickets {
        display: none;
    }

}